# to use, copy to hpa_patch.properties.yaml and edit as required

- op: replace
  path: /spec/maxReplicas
  value: 5

- op: replace
  path: /spec/minReplicas
  value: 2

- op: replace
  path: /spec/metrics/0/resource/target/averageUtilization
  value: 50