#IntelliJ project files
.idea
*.iml

# Maven
*/target/**

# Temp files
*~
*.bak
.DS_Store

# Local user-specific configuration
**/europeana.user.properties

# docker stuff
docker/docker-compose.yml
docker/tomcat/api.war

# Swagger UI
/api2-war/src/main/webapp/docs/

.env
.env.*
!.env.example

