#IntelliJ project files
.idea
*.iml

# Maven
*/target/**
target/

# Temp files
*~
*.bak
.DS_Store

# Local user-specific configuration
**/europeana.user.properties
**/europeana.user.localhost.properties
**/europeana.user.prod.properties
**/europeana.user.test.properties
**/europeana.user.acc.properties
**/google_cloud_credentials*.json
**/translation-api-client.properties

# docker stuff
docker/docker-compose.yml
docker/tomcat/api.war

# Swagger UI
/api2-war/src/main/webapp/docs/

.env
.env.*
!.env.example

# Kubernetes config properties
*.properties.yaml

!/.gitignore
