<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
            <!-- Use this pattern for Kubernetes deployments -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level %C:%L [%t] - %m%n" />
           
            <!-- Optional pattern with color encoding for local debugging -->
            <!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %C:%L [%t] %logger{36} - %m%n" /> -->
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>

    <Logger name="eu.europeana" level="INFO"/>
    <Logger name="org.mongodb.driver.connection"
      level="WARN"/> <!-- to prevent opened/closed connection messages -->
    <Logger name="org.apache.jena.riot"
      level="ERROR"/> <!-- to prevent JENA warnings about parsing data -->

    <Logger name="eu.europeana.corelib.record.api.IIIFLink" level="INFO"/>

    <Logger name="eu.europeana.api2.v2.utils.LanguageFilter" level="INFO"/>

    <!-- Set to DEBUG to see which record fields are or are not chosen to be translated + see how long the entire process took -->
    <Logger name="eu.europeana.api2.v2.service.translate.MetadataTranslationService" level="DEBUG"/>

    <!-- Set to DEBUG to see which record fields are or are not chosen to be translated + see how long the entire process took -->
    <Logger name="eu.europeana.api2.v2.service.translate.MetadataLangDetectionService" level="DEBUG"/>

    <!-- Set to DEBUG to see which record fields are or are not chosen to be translated + see how long the entire process took -->
    <Logger name="eu.europeana.api2.v2.service.translate.TranslationService" level="INFO"/>

  </Loggers>
</Configuration>
