<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>API2 DEMO - User Saved Items</title>
</head>

<body>
<div th:include="links :: links"/>
<h1>Saved Items for: ${username}</h1>
<table border="1">
    <tr>
        <td>title</td>
        <td>author</td>
        <td>date</td>
        <td>action</td>
    </tr>

    <c:forEach var="item" items="${items}">
        <tr>
            <td>${item.title}</td>
            <td>${item.author}</td>
            <td>
                <fmt:formatDate value="${item.dateSaved}"/>
            </td>
            <td>
                <a href="${item.guid}" target="_blank">view</a>
                <a href="saveditems?action=DELETE&id=${item.id}">delete</a>
            </td>
        </tr>
    </c:forEach>
</table>
</body>
</html>