<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>API2 DEMO - User Saved Searches</title>
</head>

<body>
<div th:include="links :: links"/>
<h1>Saved Searches for: ${username}</h1>
<table border="1">
    <tr>
        <td>query</td>
        <td>date</td>
        <td>action</td>
    </tr>

    <c:forEach var="search" items="${items}">
        <tr>
            <td>${search.query}</td>
            <td>
                <fmt:formatDate value="${search.dateSaved}"/>
            </td>
            <td>
                <a href="http://www.europeana.eu/portal/search.html?rows=24&${search.queryString}"
                   target="_blank">view</a>
                <a href="searches?action=DELETE&id=${search.id}">delete</a>
            </td>
        </tr>
    </c:forEach>
</table>
</body>
</html>