<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>API2 DEMO - User Favorties</title>
</head>

<body>
<div th:include="links :: links"/>
<h1>Social Tags for: ${username}</h1>
<br/><br/>
<c:forEach var="tag" items="${items}">
	<span>
		<span style="font-size: ${tag.count}00%;">
			<a title="${tag.count}" href="tags?tag=${tag.label}">${tag.label}</a>
		</span>
	</span>
</c:forEach>
</body>
</html>