<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>API2 DEMO - User Favorties</title>
</head>

<body>
<div th:include="links :: links"/>
<h1>Social Tags for: ${username}</h1>
<table border="1">
    <thead>
    <tr>
        <th>title</th>
        <th>tag</th>
        <th>date</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <c:forEach var="tag" items="${items}">
        <tr>
            <td>${tag.title}</td>
            <td>${tag.tag}</td>
            <td><fmt:formatDate value="${tag.dateSaved}"/></td>
            <td>
                <a href="${tag.guid}" target="_blank">view</a>
                <a href="tags?action=DELETE&id=${tag.id}">delete</a>
            </td>
        </tr>
    </c:forEach>
    </tbody>
</table>

</body>
</html>