# Configures secret for Record API deployments
# To use, copy this file to "secrets.properties.yaml"
# Then paste google_cloud_credentials.json
apiVersion: v1
kind: Secret
metadata:
  name: record-api-secret
type: Opaque
stringData:
  # paste google_cloud_credentials.json below
  google_cloud_credentials.json: |
