<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="links">
    <a href="/user/saveditems">Saved Items</a>
    <br/>
    <a href="/user/tags">Tags</a>
    <br/>
    <a href="/user/tagcloud">Tagcloud</a>
    <br/>
    <a href="/user/searches">Saved Searches</a>
    <br/>
    <br/>
    <br/>
    <br/>
    <a href="/user/">Profile</a> / <a href="/logout.do">Log off</a>
</div>
</html>